@using ActionMailer.Net
@model SCBWIFloridaJune.Models.User

@{
    Layout = null;
}

<h2>VerificationEmail.html</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BadgeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BadgeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostalCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostalCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SpecialNeeds)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SpecialNeeds)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayPalID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayPalID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Paid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Paid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cleared)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cleared)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegistrationID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegistrationID)
    </div>
</fieldset>
