@model SCBWIFloridaJune.Models.Registration

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Registration</legend>

        @Html.HiddenFor(model => model.RegistrationID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Intensive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Intensive)
            @Html.ValidationMessageFor(model => model.Intensive)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Track)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Track)
            @Html.ValidationMessageFor(model => model.Track)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FridayLunch)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FridayLunch)
            @Html.ValidationMessageFor(model => model.FridayLunch)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SaturdayLunch)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SaturdayLunch)
            @Html.ValidationMessageFor(model => model.SaturdayLunch)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
