@model IEnumerable<SCBWIFloridaJune.Models.Registration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intensive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Track)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FridayLunch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaturdayLunch)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intensive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Track)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FridayLunch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaturdayLunch)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegistrationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegistrationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegistrationID })
        </td>
    </tr>
}

</table>
